<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361987235930-e1m0vmsmr0oop60ik4rd6uvtbqf5d2iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361987235930-e1m0vmsmr0oop60ik4rd6uvtbqf5d2iv</string>
	<key>API_KEY</key>
	<string>AIzaSyB8jddxR1QJnWGjzcIFBxZTKVEhT02dv0c</string>
	<key>GCM_SENDER_ID</key>
	<string>361987235930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.towfixService</string>
	<key>PROJECT_ID</key>
	<string>towfix-abd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>towfix-abd8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361987235930:ios:13f981fb6c7b63a897b863</string>
</dict>
</plist>